/*--------------text based stuff ---------------------*/

p {

}

h1 {

}

#navbar {
    background-color: black;
    height: 3rem; 
    width: 100%;
    padding: 10%;
    display: block; 
}

.title {
    text-align: center; 
    font-size: 1rem;
}


body {
    background-color: gray;
    font-size: 2rem;
    color: white;
    margin: 0;
    padding: 0; 
}

main {
    padding-top: 5rem;  
    display: flex; 
    justify-content: center;
}

.container {
    width: 500px; 
    padding: 10px; 
}

.content {
    font-size: 2rem;
    color: white;
}

.display-clock {
    margin-top: 2rem; 
    padding: 1rem; 
    border: solid;
    border-color: white;
    background-color: rgb(65, 64, 64); 
    color: rgb(167, 209, 170); 
}



.test{
    font-size: 2rem;
}

@media only screen and (max-width: 1000px) {
 
    
}