body {
    background-color: gray;
    font-size: 2rem;
    color: white;
}

.text {
    font-size: 2rem;
    color: white;
}

.special {
    font-size: 2.3rem;
    color: white;
}

.normalize {
    margin-top: 2rem;
}

.box {
    border: solid;
    border-color: white;
}

.center {
    align-items: center;
}

#topBar {
    margin: auto;
    background-color: black;
    height: 3rem;
}