/*-------------------START OF NAV BAR-----------------------------*/
/*
.navbar {
    background-color: black;
    height: 3rem; 

}

.navbar a {
    color: pink;
    text-align: center;
    display: block; 
    padding: 5px;
    text-decoration: none; 
}
.navbar a:hover {
    color: purple; 
}
*/


 /*------------------------------------------------------*/ 
body {
    transition: background-color .5s;
    background-color: gray;
    font-size: 2rem;
    color: rgb(112, 112, 112);
    margin: 0;
    padding: 0; 
    overflow-x: hidden; 

}

main {
    transition: margin-left .5s;
    padding-top: 5rem;  
    display: flex; 
    justify-content: center;
}

#main {
    transition: margin-left .5s;
  }
  
/*--------------------CLASSES--------------------------*/

.content {
    font-size: 2rem;
    color: white;
    margin: 100px; 
    padding: 100px; 
}

.display-clock {
    margin-top: 2rem; 
    padding: 1rem; 
    border: solid;
    border-color: white;
    background-color: rgb(65, 64, 64); 
    color: rgb(167, 209, 170); 
}


/*-----------------------text styles----------------------------------------------*/
.center {
    text-align: center; 
}


@media only screen and (max-width: 1000px) {
 
}

